body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #363535;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  header img{
    width: 100%;
    
  }
h3{
  text-align: center;
}
  .prophile__photo{
    margin-top: 20px;
   width: 100px;
   padding: 5px;
    border-radius: 50px;
    background: #363535;
box-shadow: inset 20px 20px 60px #2e2d2d,
            inset -20px -20px 60px #3e3d3d;
  }
  .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #363535;
    position: relative;
    margin-bottom: 50px;
  }
  .card__link{
    display: flex;
    flex-direction: row;
    width: 200px;
    justify-content: space-between;
    margin-top: 30px;
    border-radius: 50px;
    border-radius: 50px;
    background: #363535;
    box-shadow:  17px 17px 33px #1c1c1c,
                 -17px -17px 33px #504e4e;
    align-items: center;
    padding: 10px;
    color: gray;
    

  }
  a{
   
    text-decoration: none;
  }
  .vegueta__linkedin{
    display: block;
  position: absolute;
    top: 250px;
    right: -10vw;
  }
  .freezer{
    display: block;
  position: absolute;
    top: 70px;
    left: 0vw;
  }
  .piccolo{
    display: block;
  position: absolute;
    top: 425px;
    left: -5vw;
  }
.broly{
  display: block;
  position: absolute;
    top: 220px;
    left: 0vw;
}

  .goku {
    display: none;
    
  }
  
.goku__web{
  display: block;
  position: absolute;
    top: 280px;
    right: -10vw;
}


@media only screen and (min-width: 700px) and (max-width: 768px) {
  .card__link{
    width: 40vh;
  }
  header img{
    display: none;
    
  }
  .freezer{
   left: 0vw;

  }
  
  .vegueta__linkedin{
    
    
   right: 0vw;
  }
  .goku__web{
    
      top: 300px;
      right: 0vw;
  }
  .piccolo{
    top: 450px;
    left: 0vw;
  }
}



@media only screen and (min-width: 769px) and (max-width: 1439px) {
  .card__link{
    width: 50vw;
  }
  header img{
    display: none;
    
  }
  .freezer{
   left: 0vw;

  }
  .broly{
    
      
      left: 4vw;
  }
  .vegueta__linkedin{
    
    
   right: 0vw;
  }
  .goku__web{
    
      top: 300px;
      right: 0vw;
      
  }
  .piccolo{
    top: 450px;
    left: 0vw;
  }
}




@media only screen and (min-width: 1440px) {
  .card__link{
    width: 55vw;

  }
  header img{
    display: none;
    
  }
  .freezer{
   left: 4vw;
  }
  .broly{
    
      
      left: 5vw;
  }
  .vegueta__linkedin{
    
    
   right: 5vw;
  }
  .goku__web{
    
      top: 300px;
      right: 5vw;
  }
  .piccolo{
    top: 450px;
    left: 1vw;
  }
}


